<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>

<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        <% for (let nombre in usuarios) { %>
            <li>
                Nombre: <%= usuarios[nombre] %><br>
            </li>
            <% } %>
    </ul>
</body>

</html>